<form action="/spaces/new" method="post">
  <input type="text" name="space_name" placeholder="Enter name">
  <input type="text" name="space_description" placeholder="Enter description">
  <input type="text" name="space_price" placeholder="Enter price in £">
  <button type="submit">Submit</button>
</form>
