New space

<form action="/spaces/new" method="post">
  <input type="text" name="space_name" placeholder="Enter name">
  <input type="text" name="space_description" placeholder="Enter description">
  <input type="text" name="space_price" placeholder="Enter price in £">

  <label>Please enter the date your space is available</label>
  <input type="text" name="start_availability" placeholder="01/06/2016">
  <input type="text" name="end_availability" placeholder="31/08/2016">
  <button type="submit">Submit</button>
</form>
