New space

<form action="/spaces/new" method="post">
  <input type="text" name="space_name" placeholder="Enter name">
  <input type="text" name="space_description" placeholder="Enter description">
  <input type="text" name="space_price" placeholder="Enter price in £">

  <label>Please enter the date your space is available</label>
  <input type="text" name="space_availability" placeholder="Eg 11/12/16">
  <button type="submit">Submit</button>
</form>
