<h1>Please select a date for your booking.</h1>

<form action="/bookings" method="post">
  <input type="text" name="date_requested" placeholder="01/01/2016">
  <button type="submit">Submit</button>
</form>
