<h1>Register</h1>

<form action='/user/new' method=post>
  Name: <input type='text' name='name' value ='<%= @user.name %>' >
  Usernamer: <input type='text' name='username' value='<%= @user.username %>' >
  E-Mail: <input type='email' name='email' value='<%= @user.email%>' >
  Password: <input type='password' name='password' required>
  Confirm Password <input type='password' name='password_confirm' required>
  <button type='submit'>Sign up</button>
</form>
