<section class="flexbox">
  <% if  flash[:notice]%>
     <aside class="notice">
       <%= flash[:notice]%>
     </aside>
   <%end%>

   <% if  flash[:errors]%>
     <aside class="error">
       <ul>
         <% flash[:errors].each do |error| %>
           <li><%=error%></li>
         <% end %>
       </ul>
     </aside>
   <%end%>

</section>
