<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%=url('main.css')%>"/>
    <title>TEMP TITLE SO AWESOME</title>
  </head>
  <body>


  <div id="navbar">
    <%=partial :navbar %>
  </div>
  <div id="peeps">
    <%=partial :flash%>
</div>
    <%= yield %>

  </body>
</html>
